src/ms.fabric/Cumulus Control/Batch Executor.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Stages').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "3c0250c8-61a9-8b5f-4511-7f2b28ee439b",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "StageId": {
                    "value": "@item().StageId",
                    "type": "Expression"
                  },
                  "ExecutionId": {
                    "value": "@variables('ExecutionId')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Stage Executor",
              "description": "Call to the framework generic child pipeline for a given execution stage.",
              "dependsOn": [
                {
                  "activity": "Log Stage Preparing",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[control].[SetLogStagePreparing]",
                "storedProcedureParameters": {
                  "ExecutionId": {
                    "value": {
                      "value": "@variables('ExecutionId')",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "StageId": {
                    "value": {
                      "value": "@item().StageId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "Metadata Database",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Stage Preparing",
              "description": "Update the current execution table flagging all pipelines within the stage as preparing.",
              "dependsOn": [
                {
                  "activity": "Check and Update Blockers",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[control].[CheckForBlockedPipelines]",
                "storedProcedureParameters": {
                  "ExecutionId": {
                    "value": {
                      "value": "@variables('ExecutionId')",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "StageId": {
                    "value": {
                      "value": "@item().StageId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "Metadata Database",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check and Update Blockers",
              "description": "Used to double check and stop the next execution stage if failures and blockers have be incurred. This also depends on the failure handling property value which defines the stored procedure behaviour.",
              "dependsOn": []
            }
          ]
        },
        "name": "Execute Stages",
        "description": "Top level ForEach to sequentially call all processing stages within the framework metadata. Items for iteration passed from the Get Stages lookup activity.",
        "dependsOn": [
          {
            "activity": "Get Stages",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[control].[UpdateExecutionLog]",
          "storedProcedureParameters": {
            "PerformErrorCheck": {
              "value": {
                "value": "@bool(1)",
                "type": "Expression"
              },
              "type": "Boolean"
            },
            "ExecutionId": {
              "value": {
                "value": "@variables('ExecutionId')",
                "type": "Expression"
              },
              "type": "Guid"
            }
          }
        },
        "connectionSettings": {
          "name": "Metadata Database",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check Outcome and Update Logs",
        "description": "After a successful execution run the current execution metadata is moved to the long term logging table by this stored procedure call. Otherwise an error will be raised.",
        "dependsOn": [
          {
            "activity": "Execute Stages",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "batchCount": 50,
          "items": {
            "value": "@activity('Check Previous Execution').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[control].[SetLogPipelineChecking]",
                "storedProcedureParameters": {
                  "ExecutionId": {
                    "value": {
                      "value": "@item().LocalExecutionId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineId": {
                    "value": {
                      "value": "@item().PipelineId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "StageId": {
                    "value": {
                      "value": "@item().StageId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "Metadata Database",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Pipeline Checking",
              "dependsOn": []
            },
            {
              "type": "AzureFunctionActivity",
              "typeProperties": {
                "method": "POST",
                "functionName": "CheckPipelineStatus",
                "headers": {},
                "body": {
                  "value": "@concat('\n{\n    \"subscriptionId\": \"',variables('WorkerCoreDetails')[0].subscriptionId,'\",\n    \"resourceGroupName\": \"',variables('WorkerCoreDetails')[0].resourceGroupName,'\",\n\t\"orchestratorName\": \"',variables('WorkerCoreDetails')[0].orchestratorName,'\",\n    \"orchestratorType\": \"',variables('WorkerCoreDetails')[0].orchestratorType,'\",\n    \"pipelineName\": \"',variables('WorkerCoreDetails')[0].pipelineName,'\",\n    \"runId\": \"',item().PipelineRunId,'\"\n}')",
                  "type": "Expression"
                }
              },
              "externalReferences": {
                "connection": "a6f42d71-fe10-4195-8017-67b8f8177334"
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": true,
                "secureOutput": false
              },
              "name": "Get Pipeline Status",
              "dependsOn": [
                {
                  "activity": "Log Pipeline Checking",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "Capture Worker Core Details as an Array",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Switch",
              "typeProperties": {
                "on": {
                  "value": "@activity('Get Pipeline Status').output.ActualStatus",
                  "type": "Expression"
                },
                "cases": [
                  {
                    "value": "Failed",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "[control].[SetLogPipelineFailed]",
                          "storedProcedureParameters": {
                            "ExecutionId": {
                              "value": {
                                "value": "@item().LocalExecutionId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "PipelineId": {
                              "value": {
                                "value": "@item().PipelineId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "RunId": {
                              "value": null,
                              "type": "Guid"
                            },
                            "StageId": {
                              "value": {
                                "value": "@item().StageId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            }
                          }
                        },
                        "connectionSettings": {
                          "name": "Metadata Database",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                              "workspaceId": "00000000-0000-0000-0000-000000000000"
                            },
                            "externalReferences": {
                              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.00:10:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Pipeline Status Failed",
                        "description": "Updates the current execution table with a pipeline status of failed if the function outcome is failed. Also blocks pipelines in the downstream execution stage.",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "Succeeded",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "[control].[SetLogPipelineSuccess]",
                          "storedProcedureParameters": {
                            "ExecutionId": {
                              "value": {
                                "value": "@item().LocalExecutionId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "PipelineId": {
                              "value": {
                                "value": "@item().PipelineId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "StageId": {
                              "value": {
                                "value": "@item().StageId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            }
                          }
                        },
                        "connectionSettings": {
                          "name": "Metadata Database",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                              "workspaceId": "00000000-0000-0000-0000-000000000000"
                            },
                            "externalReferences": {
                              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.00:10:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Pipeline Status Succeeded",
                        "description": "Updates the current execution table with a pipeline status of success if the function outcome is succeeded.",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "Queued",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "[control].[SetLogPipelineRunning]",
                          "storedProcedureParameters": {
                            "ExecutionId": {
                              "value": {
                                "value": "@item().LocalExecutionId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "PipelineId": {
                              "value": {
                                "value": "@item().PipelineId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "StageId": {
                              "value": {
                                "value": "@item().StageId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            }
                          }
                        },
                        "connectionSettings": {
                          "name": "Metadata Database",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                              "workspaceId": "00000000-0000-0000-0000-000000000000"
                            },
                            "externalReferences": {
                              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.00:10:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Pipeline Status Queued - Running",
                        "description": "Updates the current execution table with a pipeline status of running if the function outcome is queued.",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "InProgress",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "[control].[SetLogPipelineRunning]",
                          "storedProcedureParameters": {
                            "ExecutionId": {
                              "value": {
                                "value": "@item().LocalExecutionId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "PipelineId": {
                              "value": {
                                "value": "@item().PipelineId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "StageId": {
                              "value": {
                                "value": "@item().StageId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            }
                          }
                        },
                        "connectionSettings": {
                          "name": "Metadata Database",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                              "workspaceId": "00000000-0000-0000-0000-000000000000"
                            },
                            "externalReferences": {
                              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.00:10:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Pipeline Status InProgress - Running",
                        "description": "Updates the current execution table with a pipeline status of running if the function outcome is in progress.",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "Cancelled",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "[control].[SetLogPipelineCancelled]",
                          "storedProcedureParameters": {
                            "ExecutionId": {
                              "value": {
                                "value": "@item().LocalExecutionId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "PipelineId": {
                              "value": {
                                "value": "@item().PipelineId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "StageId": {
                              "value": {
                                "value": "@item().StageId",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            },
                            "CleanUpRun": {
                              "value": {
                                "value": "@bool(1)",
                                "type": "Expression"
                              },
                              "type": "Boolean"
                            }
                          }
                        },
                        "connectionSettings": {
                          "name": "Metadata Database",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                              "workspaceId": "00000000-0000-0000-0000-000000000000"
                            },
                            "externalReferences": {
                              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.00:10:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Pipeline Status Cancelled",
                        "description": "Updates the current execution table with a pipeline status of cancelled if the function outcome is cancelled.",
                        "dependsOn": []
                      }
                    ]
                  }
                ],
                "defaultActivities": [
                  {
                    "type": "SqlServerStoredProcedure",
                    "typeProperties": {
                      "storedProcedureName": "[control].[SetLogPipelineUnknown]",
                      "storedProcedureParameters": {
                        "ExecutionId": {
                          "value": {
                            "value": "@item().LocalExecutionId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineId": {
                          "value": {
                            "value": "@item().PipelineId",
                            "type": "Expression"
                          },
                          "type": "Int32"
                        },
                        "StageId": {
                          "value": {
                            "value": "@item().StageId",
                            "type": "Expression"
                          },
                          "type": "Int32"
                        },
                        "CleanUpRun": {
                          "value": {
                            "value": "@bool(1)",
                            "type": "Expression"
                          },
                          "type": "Boolean"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "Metadata Database",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.00:10:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Pipeline Status Unknown",
                    "description": "Updates the current execution table with a pipeline status of unknown if the function returns an unexpected outcome.",
                    "dependsOn": []
                  }
                ]
              },
              "name": "Set Pipeline Status",
              "description": "Update the metadata depending on the actual pipeline outcome. Using the status as the case.",
              "dependsOn": [
                {
                  "activity": "Get Pipeline Status",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[control].[SetLogPipelineLastStatusCheck]",
                "storedProcedureParameters": {
                  "ExecutionId": {
                    "value": {
                      "value": "@item().LocalExecutionId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineId": {
                    "value": {
                      "value": "@item().PipelineId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "StageId": {
                    "value": {
                      "value": "@item().StageId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "Metadata Database",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Last Check DateTime",
              "description": "Update the current execution table with a date time from when the function last checked the pipeline status.",
              "dependsOn": [
                {
                  "activity": "Get Pipeline Status",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[control].[GetWorkerPipelineDetailsv2]",
                  "storedProcedureParameters": {
                    "ExecutionId": {
                      "value": {
                        "value": "@item().LocalExecutionId",
                        "type": "Expression"
                      },
                      "type": "Guid"
                    },
                    "PipelineId": {
                      "value": {
                        "value": "@item().PipelineId",
                        "type": "Expression"
                      },
                      "type": "Int32"
                    },
                    "StageId": {
                      "value": {
                        "value": "@item().StageId",
                        "type": "Expression"
                      },
                      "type": "Int32"
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "Metadata Database",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "externalReferences": {
                        "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": true
              },
              "name": "Get Worker Core Details",
              "description": "Return worker pipeline information for metadata database. Including target data factory, pipeline name and resource group. Return the SPN ID and Secret for the worker pipeline being executed. Called at this level as each pipeline can have a different SPN.",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "WorkerCoreDetails",
                "value": {
                  "value": "@array(activity('Get Worker Core Details').output.firstRow)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Capture Worker Core Details as an Array",
              "description": "Add all worker pipeline details to a local variable array that can be accessed by each function call requiring the values.",
              "dependsOn": [
                {
                  "activity": "Get Worker Core Details",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Clean Up Previous Run",
        "description": "Handle Worker pipelines that are reported as Running when the parent pipeline is called again. Get what the actual status of those pipelines is.",
        "dependsOn": [
          {
            "activity": "Check Metadata Integrity",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Check Previous Execution",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[control].[ExecutePrecursorProcedure]"
        },
        "connectionSettings": {
          "name": "Metadata Database",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Execute Precursor",
        "description": "Uses the database property value ExecutionPrecursorProc to run any custom logic against the metadata database before the execution run starts.",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "ExecutionId",
          "value": {
            "value": "@activity('Execution Wrapper').output.firstRow.ExecutionId",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Execution Id",
        "description": "Set the local execution Id to a pipeline variable for each in several downstream activities.",
        "dependsOn": [
          {
            "activity": "Execution Wrapper",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[control].[CheckMetadataIntegrity]",
          "storedProcedureParameters": {
            "BatchName": {
              "value": {
                "value": "@pipeline().parameters.BatchName",
                "type": "Expression"
              },
              "type": "String"
            },
            "DebugMode": {
              "value": {
                "value": "@bool(0)",
                "type": "Expression"
              },
              "type": "Boolean"
            }
          }
        },
        "connectionSettings": {
          "name": "Metadata Database",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check Metadata Integrity",
        "description": "Performs a series of checks on all metadata held in the framework SQLDB. This is intended to raise errors before an execution run even starts.",
        "dependsOn": [
          {
            "activity": "Execute Precursor",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[control].[GetStages]",
            "storedProcedureParameters": {
              "ExecutionId": {
                "value": {
                  "value": "@variables('ExecutionId')",
                  "type": "Expression"
                },
                "type": "Guid"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Metadata Database",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Stages",
        "description": "Returns a distinct list of execution stages within the framework metadata.",
        "dependsOn": [
          {
            "activity": "Set Execution Id",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[control].[ExecutionWrapper]",
            "storedProcedureParameters": {
              "BatchName": {
                "value": {
                  "value": "@pipeline().parameters.BatchName",
                  "type": "Expression"
                },
                "type": "String"
              },
              "CallingOrchestratorName": {
                "value": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Metadata Database",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Execution Wrapper",
        "description": "Wrapper to reset and restart processing or create a completely new execution instance of the framework metadata.",
        "dependsOn": [
          {
            "activity": "Clean Up Previous Run",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[control].[CheckPreviousExeuction]",
            "storedProcedureParameters": {
              "BatchName": {
                "value": {
                  "value": "@pipeline().parameters.BatchName",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Metadata Database",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "8bc74d80-e72c-847a-4f62-e5c0bdd6042c",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "12dda100-1cd7-45b2-b893-3d0a0d6300c9"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check Previous Execution",
        "description": "Query the current execution table for worker pipelines that require a clean up from the previous execution run.",
        "dependsOn": [
          {
            "activity": "Execute Precursor",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "BatchName": {
        "type": "string",
        "defaultValue": "NotUsed"
      }
    },
    "variables": {
      "ExecutionId": {
        "type": "String"
      },
      "WorkerCoreDetails": {
        "type": "Array"
      }
    },
    "folder": {
      "name": "Cumulus.Control"
    }
  }
}