src/azure.datafactory/pipeline/01-IngestExecutor.json
{
	"name": "01-IngestExecutor",
	"properties": {
		"activities": [
			{
				"name": "Get Ingest Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ingest].[PayloadProcedure]",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int16",
								"value": "5"
							},
							"Incremental": {
								"type": "Int16",
								"value": "0"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy Binary VM02_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinarySourceDatasetGeneric",
						"type": "DatasetReference",
						"parameters": {
							"Host": "C:",
							"UserName": "azure_vm_admin",
							"Directory": {
								"value": "@activity('Get Ingest Payload').output['CompleteSource']",
								"type": "Expression"
							},
							"FileName": {
								"value": "@activity('Get Ingest Payload').output['SourceName']",
								"type": "Expression"
							},
							"Password": "vmadminpassword"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BinaryDataLakeDatasetGeneric",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": "raw",
							"Directory": {
								"value": "@activity('Get Ingest Payload').output['CompleteSource']",
								"type": "Expression"
							},
							"FileName": {
								"value": "@activity('Get Ingest Payload').output['SourceName']",
								"type": "Expression"
							},
							"AccountName": "cumulusframeworkdev"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Cumulus.Ingest"
		},
		"annotations": []
	}
}