src/azure.datafactory/pipeline/Get_Databricks_Compute_ID.json
{
	"name": "Get_Databricks_Compute_ID",
	"properties": {
		"activities": [
			{
				"name": "Fetch Bearer Token from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(json(pipeline().parameters.Payload).KeyVaultAddress,'/secrets/databricks-adf-pat/','?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Cluster Metadata",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Fetch Bearer Token from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('Fetch Bearer Token from AKV').output.value)",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat(json(pipeline().parameters.Payload).ComputeWorkspaceURL,'/api/2.1/clusters/list')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter Cluster",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Cluster Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Cluster Metadata').output.clusters",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().cluster_name,json(pipeline().parameters.Payload).ComputeName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Cluster Id Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter Cluster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "ClusterId",
							"value": {
								"type": "Expression",
								"content": "@activity('Filter Cluster').output.value[0].cluster_id"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"Payload": {
				"type": "string"
			}
		},
		"variables": {
			"Clusters": {
				"type": "Array"
			},
			"ClusterId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Utils"
		},
		"annotations": []
	}
}