src/azure.datafactory/pipeline/Ingest_PL_RESTAPI.json
{
	"name": "Ingest_PL_RESTAPI",
	"properties": {
		"activities": [
			{
				"name": "Get Ingest Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "ingest.GetAPIPayload",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DatasetId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set Run DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LocalRunDateTime",
					"value": {
						"value": "@if(equals(pipeline().parameters.RunDateTime,' '),string(utcnow()),pipeline().parameters.RunDateTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Target Path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetPath",
					"value": {
						"value": "@formatDateTime(variables('LocalRunDateTime'), '\\ye\\ar=yyyy/\\mon\\t\\h=MM/\\d\\a\\y=dd/\\hour=HH')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set LoadType",
				"description": "Set the Data Load type:\nIncremental Load = 1\nFull Load = 0",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadType",
					"value": {
						"value": "@activity('Get Ingest Payload').output.firstRow.LoadAction",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Directory Path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Target Path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set LoadType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DirectoryName",
					"value": {
						"value": "@concat(\n    activity('Get Ingest Payload').output.firstRow.ConnectionDisplayName,\n    '\\',\n    activity('Get Ingest Payload').output.firstRow.DatasetDisplayName,\n    '\\',\n    'version=',\n    activity('Get Ingest Payload').output.firstRow.VersionNumber,\n    '\\',\n    variables('LoadType'),\n    '\\',\n    variables('TargetPath')\n    )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "REST API Auth Type",
				"description": "Switch on Linked Service and Pagination Rules",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set Directory Path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If Authorization Required",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@concat(replace(activity('Get Ingest Payload').output.firstRow.LinkedServiceName,'Ingest_LS_',''),variables('PaginationType'))",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "RESTAPI_HTTPS_AnonAuth",
							"activities": [
								{
									"name": "REST API HTTP AnonAuth Copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@if(\n    equals(variables('AuthorizationOutput'),''), \n    '',\n    concat('Authorization: ', variables('AuthorizationOutput'))\n)",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ingest_DS_JSON_HTTP_AnonAuth",
											"type": "DatasetReference",
											"parameters": {
												"RelativeURL": {
													"value": "@concat('/',activity('Get Ingest Payload').output.firstRow.SourcePath,'/',activity('Get Ingest Payload').output.firstRow.SourceName,variables('ParametersStringComplete'))",
													"type": "Expression"
												},
												"BaseURL": {
													"value": "@activity('Get Ingest Payload').output.firstRow.ConnectionLocation",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ingest_DS_DataLake_JSON",
											"type": "DatasetReference",
											"parameters": {
												"DSStorageName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName",
													"type": "Expression"
												},
												"DSContainerName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
													"type": "Expression"
												},
												"DSDirectoryName": {
													"value": "@variables('DirectoryName')",
													"type": "Expression"
												},
												"DSFileName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.DatasetDisplayName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "RESTAPI_REST_AnonAuth",
							"activities": [
								{
									"name": "REST API REST AnonAuth Copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"Authorization": {
													"value": "@variables('AuthorizationOutput')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ingest_DS_REST",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": {
													"value": "@activity('Get Ingest Payload').output.firstRow.ConnectionLocation",
													"type": "Expression"
												},
												"RelativeURL": {
													"value": "@concat('/',activity('Get Ingest Payload').output.firstRow.SourcePath,'/',activity('Get Ingest Payload').output.firstRow.SourceName,variables('ParametersStringComplete'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ingest_DS_DataLake_JSON",
											"type": "DatasetReference",
											"parameters": {
												"DSStorageName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName",
													"type": "Expression"
												},
												"DSContainerName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
													"type": "Expression"
												},
												"DSDirectoryName": {
													"value": "@variables('DirectoryName')",
													"type": "Expression"
												},
												"DSFileName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.DatasetDisplayName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "RESTAPI_REST_AnonAuthRFC",
							"activities": [
								{
									"name": "REST API REST AnonAuth RFC Copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"Authorization": {
													"value": "@variables('AuthorizationOutput')",
													"type": "Expression"
												}
											},
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ingest_DS_REST",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": {
													"value": "@activity('Get Ingest Payload').output.firstRow.ConnectionLocation",
													"type": "Expression"
												},
												"RelativeURL": {
													"value": "@concat('/',activity('Get Ingest Payload').output.firstRow.SourcePath,'/',activity('Get Ingest Payload').output.firstRow.SourceName,variables('ParametersStringComplete'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ingest_DS_DataLake_JSON",
											"type": "DatasetReference",
											"parameters": {
												"DSStorageName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName",
													"type": "Expression"
												},
												"DSContainerName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
													"type": "Expression"
												},
												"DSDirectoryName": {
													"value": "@variables('DirectoryName')",
													"type": "Expression"
												},
												"DSFileName": {
													"value": "@activity('Get Ingest Payload').output.firstRow.DatasetDisplayName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "RESTAPI_REST_AnonAuthHeaders",
							"activities": [
								{
									"name": "REST API REST AnonAuth Pagination with HeadersCopy",
									"description": "Note: Offset Param must equal limit value\ne.g. ?limit=100&offset={offset}\nThen offset = 100 as well.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"Authorization": {
													"value": "@variables('AuthorizationOutput')",
													"type": "Expression"
												}
											},
											"paginationRules": {
												"QueryParameters.{offset}": {
													"value": "@variables('PaginationLogic')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ingest_DS_REST",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": "@activity('Get Ingest Payload').output.firstRow.ConnectionLocation",
												"RelativeURL": {
													"value": "@concat(activity('Get Ingest Payload').output.firstRow.SourcePath,'/',activity('Get Ingest Payload').output.firstRow.SourceName,variables('ParametersStringComplete'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ingest_DS_DataLake_JSON",
											"type": "DatasetReference",
											"parameters": {
												"DSStorageName": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName",
												"DSContainerName": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
												"DSDirectoryName": "@variables('DirectoryName')",
												"DSFileName": "@activity('Get Ingest Payload').output.firstRow.DatasetDisplayName"
											}
										}
									]
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Supported Linked Service Type",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('The Linked Service type and authentication combination is not currently supported.')",
									"type": "Expression"
								},
								"errorCode": "16"
							}
						}
					]
				}
			},
			{
				"name": "Update Metadata Load Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "REST API Auth Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ingest].[SetIngestLoadStatus]",
					"storedProcedureParameters": {
						"DatasetId": {
							"value": {
								"value": "@pipeline().parameters.DatasetId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IngestStage": {
							"value": "Raw",
							"type": "String"
						},
						"LoadType": {
							"value": {
								"value": "@activity('Get Ingest Payload').output.firstRow.LoadType",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileLoadDateTime": {
							"value": {
								"value": "@variables('LocalRunDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Common_LS_cumulusdatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Authorization Required",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validate Authorization Exists in Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Validate Headers Exist in Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Validate Request Body Exists in Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Validate API Parameters Exist in Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Validate Pagination Exists in Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('Authorization'),''))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Authorization Output 2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "AuthorizationOutput",
								"value": " "
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Fetch Bearer Token",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(activity('Get Ingest Payload').output.firstRow.KeyVaultSecret,'?api-version=7.0')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "Set Authorization Output",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Fetch Bearer Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "AuthorizationOutput",
								"value": {
									"value": "@activity('Fetch Bearer Token').output.value",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate Authorization Exists in Payload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Ingest Payload').output.firstRow.SourceQuery,'\"Authorization\":')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Load Clause requires all values populated in the metadata table. Authorization is missing.",
								"errorCode": "16"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Authorization",
							"description": "Get Authorization value from LoadClause JSON",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Authorization",
								"value": {
									"value": "@json(activity('Get Ingest Payload').output.firstRow.SourceQuery).Authorization",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate Headers Exist in Payload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Ingest Payload').output.firstRow.SourceQuery,'\"Headers\":')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Headers missing",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Load Clause requires all values populated in the metadata table. Headers is missing.",
								"errorCode": "16"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Headers",
							"description": "Get Headers value from LoadClause JSON",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Headers",
								"value": {
									"value": "@json(activity('Get Ingest Payload').output.firstRow.SourceQuery).Headers",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate Request Body Exists in Payload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Ingest Payload').output.firstRow.SourceQuery,'\"RequestBody\":')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Request Body missing",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Load Clause requires all values populated in the metadata table. Request Body is missing.",
								"errorCode": "16"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Request Body",
							"description": "Get Request Body value from LoadClause JSON",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RequestBody",
								"value": {
									"value": "@json(activity('Get Ingest Payload').output.firstRow.SourceQuery).RequestBody",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate API Parameters Exist in Payload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Ingest Payload').output.firstRow.SourceQuery,'\"RelURLParameterString\":')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail API Parameters missing",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Load Clause requires all values populated in the metadata table. RelURLParameterString is missing.",
								"errorCode": "16"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Relative URL Parameter String",
							"description": "Get RelURLParameterString value from LoadClause JSON",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ParametersString",
								"value": {
									"value": "@json(activity('Get Ingest Payload').output.firstRow.SourceQuery).RelURLParameterString",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Relative URL Parameter String Complete",
							"description": "Add '/' character if the RelURLParameterString is not ''",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Relative URL Parameter String",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ParametersStringComplete",
								"value": {
									"value": "@if(\n    equals(\n        variables('ParametersString'),''),\n        '',\n        concat('/', variables('ParametersString')\n        )\n    )",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate Pagination Exists in Payload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Ingest Payload').output.firstRow.SourceQuery,'\"Pagination\":')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Pagination missing",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Load Clause requires all values populated in the metadata table. Pagination is missing.",
								"errorCode": "16"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Pagination",
							"description": "Get Request Body value from LoadClause JSON",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Pagination",
								"value": {
									"value": "@string(json(activity('Get Ingest Payload').output.firstRow.SourceQuery).Pagination)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Pagination Type",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Pagination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PaginationType",
								"value": {
									"value": "@if(equals(variables('Pagination'),''),'',json(variables('Pagination')).Type)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Pagination Logic",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Pagination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PaginationLogic",
								"value": {
									"value": "@if(equals(variables('Pagination'),''),'',json(variables('Pagination')).Logic)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RunDateTime": {
				"type": "string",
				"defaultValue": " "
			},
			"DatasetId": {
				"type": "int"
			}
		},
		"variables": {
			"DirectoryName": {
				"type": "String"
			},
			"LoadType": {
				"type": "String"
			},
			"TargetPath": {
				"type": "String"
			},
			"LocalRunDateTime": {
				"type": "String"
			},
			"Authorization": {
				"type": "String"
			},
			"Headers": {
				"type": "String"
			},
			"RequestBody": {
				"type": "String"
			},
			"RelURLParameterString": {
				"type": "String"
			},
			"ParametersStringComplete": {
				"type": "String"
			},
			"ParametersString": {
				"type": "String"
			},
			"AuthorizationOutput": {
				"type": "String"
			},
			"Pagination": {
				"type": "String"
			},
			"PaginationType": {
				"type": "String"
			},
			"PaginationLogic": {
				"type": "String"
			},
			"refresh": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Ingest"
		},
		"annotations": []
	}
}