src/azure.datafactory/pipeline/Ingest_PL_Merge.json
{
	"name": "Ingest_PL_Merge",
	"properties": {
		"activities": [
			{
				"name": "Get Merge Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ingest].[GetMergePayload]",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DatasetId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch Compute",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get Merge Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Run DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Get Merge Payload').output.firstRow.ComputeLinkedServiceName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Ingest_LS_Databricks_Cluster_MIAuth",
							"activities": [
								{
									"name": "Check Payload Validity Small Databricks Compute",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Repos/matthew.collins@cloudformations.org/CF.Cumulus/src/azure.databricks/python/notebooks/ingest/ingestpayload/CheckPayloadExecution",
										"baseParameters": {
											"Merge Payload": {
												"value": "@string(activity('Get Merge Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeClusterId",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Merge Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Raw to Cleansed Execution Small Databricks Compute",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Check Payload Validity Small Databricks Compute",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Repos/matthew.collins@cloudformations.org/CF.Cumulus/src/azure.databricks/python/notebooks/ingest/ingestpayload/IngestExecution",
										"baseParameters": {
											"Merge Payload": {
												"value": "@string(activity('Get Merge Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeWorkspaceUrl",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeClusterId",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Merge Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Ingest_LS_Databricks_JobCluster_MIAuth",
							"activities": [
								{
									"name": "Check Payload Validity Small Databricks Compute Job",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Repos/matthew.collins@cloudformations.org/CF.Cumulus/src/azure.databricks/python/notebooks/ingest/ingestpayload/CheckPayloadExecution",
										"baseParameters": {
											"Merge Payload": {
												"value": "@string(activity('Get Merge Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ClusterVersion": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeVersion",
												"type": "Expression"
											},
											"NodeType": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeSize",
												"type": "Expression"
											},
											"PythonVersion": "3",
											"NumWorkers": {
												"value": "@activity('Get Merge Payload').output.firstRow.CountNodes",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Merge Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Raw to Cleansed Execution Small Databricks Compute Job",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Check Payload Validity Small Databricks Compute Job",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Repos/matthew.collins@cloudformations.org/CF.Cumulus/src/azure.databricks/python/notebooks/ingest/ingestpayload/IngestExecution",
										"baseParameters": {
											"Merge Payload": {
												"value": "@string(activity('Get Merge Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ClusterVersion": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeVersion",
												"type": "Expression"
											},
											"NodeType": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeSize",
												"type": "Expression"
											},
											"PythonVersion": "3",
											"NumWorkers": {
												"value": "@activity('Get Merge Payload').output.firstRow.CountNodes",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Merge Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Merge Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Supported Linked Service Type",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('The Linked Service type and authentication combination is not currently supported.')",
									"type": "Expression"
								},
								"errorCode": "16"
							}
						}
					]
				}
			},
			{
				"name": "Update Metadata Load Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Switch Compute",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ingest].[SetIngestLoadStatus]",
					"storedProcedureParameters": {
						"DatasetId": {
							"value": {
								"value": "@pipeline().parameters.DatasetId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IngestStage": {
							"value": "Cleansed",
							"type": "String"
						},
						"LoadType": {
							"value": {
								"value": "@activity('Get Merge Payload').output.firstRow.LoadAction",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileLoadDateTime": {
							"value": {
								"value": "@activity('Get Merge Payload').output.firstRow.RawLastLoadDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Common_LS_cumulusdatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Pipeline Run DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunDateTime",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DatasetId": {
				"type": "int"
			}
		},
		"variables": {
			"PipelineRunDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Ingest"
		},
		"annotations": []
	}
}