src/azure.datafactory/pipeline/Ingest_PL_Sharepoint_Sheet.json
{
	"name": "Ingest_PL_Sharepoint_Sheet",
	"properties": {
		"activities": [
			{
				"name": "Get Ingest Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ingest].[GetDatasetPayload]",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int16",
								"value": {
									"value": "@pipeline().parameters.DatasetId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set Run DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LocalRunDateTime",
					"value": {
						"value": "@if(equals(pipeline().parameters.RunDateTime,' '),string(utcnow()),pipeline().parameters.RunDateTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Target Path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetPath",
					"value": {
						"value": "@formatDateTime(variables('LocalRunDateTime'), '\\ye\\ar=yyyy/\\mon\\t\\h=MM/\\d\\a\\y=dd/\\hour=HH')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set LoadType",
				"description": "Set the Data Load type:\nIncremental Load = 1\nFull Load = 0",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Ingest Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadType",
					"value": {
						"value": "@activity('Get Ingest Payload').output.firstRow.LoadAction",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Directory Path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Target Path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set LoadType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DirectoryName",
					"value": {
						"value": "@concat(\n    activity('Get Ingest Payload').output.firstRow.ConnectionDisplayName,\n    '\\',\n    activity('Get Ingest Payload').output.firstRow.DatasetDisplayName,\n    '\\',\n    'version=',\n    activity('Get Ingest Payload').output.firstRow.VersionNumber,\n    '\\',\n    variables('LoadType'),\n    '\\',\n    variables('TargetPath')\n    )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Metadata Load Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Excel Sheet to csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ingest].[SetIngestLoadStatus]",
					"storedProcedureParameters": {
						"DatasetId": {
							"value": {
								"value": "@pipeline().parameters.DatasetId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IngestStage": {
							"value": "Raw",
							"type": "String"
						},
						"LoadType": {
							"value": {
								"value": "@activity('Get Ingest Payload').output.firstRow.LoadType",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileLoadDateTime": {
							"value": {
								"value": "@variables('LocalRunDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Common_LS_cumulusdatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Excel Sheet to csv",
				"description": " ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Directory Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ingest_DS_DataLake_Csv",
						"type": "DatasetReference",
						"parameters": {
							"DSFileName": {
								"value": "@activity('Get Ingest Payload').output.firstRow.SourceName",
								"type": "Expression"
							},
							"DSDirectoryName": {
								"value": "@concat(\n    activity('Get Ingest Payload').output.firstRow.ConnectionDisplayName,\n    '/',    \n    activity('Get Ingest Payload').output.firstRow.SourcePath,\n    '/',\n    activity('Get Ingest Payload').output.firstRow.SourceName)",
								"type": "Expression"
							},
							"DSContainerName": {
								"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
								"type": "Expression"
							},
							"DSStorageName": {
								"value": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ingest_DS_DataLake_Csv",
						"type": "DatasetReference",
						"parameters": {
							"DSFileName": "@activity('Get Ingest Payload').output.firstRow.DatasetDisplayName",
							"DSDirectoryName": "@variables('DirectoryName')",
							"DSContainerName": "@activity('Get Ingest Payload').output.firstRow.TargetStorageContainer",
							"DSStorageName": "@activity('Get Ingest Payload').output.firstRow.TargetStorageName"
						}
					}
				]
			}
		],
		"parameters": {
			"DatasetId": {
				"type": "int"
			},
			"RunDateTime": {
				"type": "string",
				"defaultValue": " "
			}
		},
		"variables": {
			"LocalRunDateTime": {
				"type": "String"
			},
			"TargetPath": {
				"type": "String"
			},
			"DirectoryName": {
				"type": "String"
			},
			"LoadType": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Ingest"
		},
		"annotations": [
			"Cloud Formations",
			"CF.Cumulus",
			"Ingest"
		],
		"lastPublishTime": "2025-04-11T13:21:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}