src/azure.datafactory/pipeline/PL_Orchestrate_API_Temp.json
{
	"name": "PL_Orchestrate_API_Temp",
	"properties": {
		"activities": [
			{
				"name": "Lookup Datasets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select DatasetId from ingest.Datasets \nwhere enabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Datasets').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Ingest_PL_RESTAPI",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RunDateTime": " ",
									"DatasetId": {
										"value": "@item().DatasetId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Pagination": {
				"type": "String"
			},
			"PaginationType": {
				"type": "String"
			},
			"PaginationLogic": {
				"type": "String"
			}
		},
		"annotations": []
	}
}