src/azure.datafactory/pipeline/RefreshToken.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://nhg-data-trial.integrator.plus/dataApi/v1/auth/refreshIdentityToken",
					"body": {
						"identityToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJlMzU3ZjUxNC1mZTg0LTRmNjYtYmZhYi05OTk4YzBmNTkyYzMiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjQxMiIsImh0dHA6Ly93d3cuYXNwbmV0Ym9pbGVycGxhdGUuY29tL2lkZW50aXR5L2NsYWltcy90ZW5hbnRJZCI6IjQwIiwibmJmIjoxNzM0MTE0NjcyLCJleHAiOjE3MzQxMTUyNzIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0In0.YaBCXyul7BMB5pysXtgZNMI2emgsiW3gKgDyJB5zNl0",
						"identityTokenExpires": "2024-12-13T18:41:12.7497399Z",
						"refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJkYzU3N2JlNi1jMmNhLTRiYTktYjhiNS1lOTJjNGJkYmYyNTYiLCJuYmYiOjE3MzQxMTQ2NzIsImV4cCI6MTc0OTgzOTQ3MiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdCIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3QifQ.zBmYt6L1QmFc6qkpPugjx-CIaU_b2L0MukezncJ_bCg",
						"refreshTokenExpires": "2025-06-13T18:31:12.7497399Z"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "ingest.writeapirequestlogs",
					"storedProcedureParameters": {
						"Input": {
							"value": {
								"value": "@string(activity('Web1').output)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Common_LS_cumulusdatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"refresh": {
				"type": "String"
			}
		},
		"annotations": []
	}
}