src/azure.datafactory/pipeline/Transform_PL_Managed.json
{
	"name": "Transform_PL_Managed",
	"properties": {
		"activities": [
			{
				"name": "Get Notebook Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[transform].[GetNotebookPayload]",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DatasetId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch Compute",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get Notebook Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Run DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@replace(activity('Get Notebook Payload').output.firstRow.ComputeLinkedServiceName,'Common_LS_','')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Databricks_Cluster_MIAuth",
							"activities": [
								{
									"name": "Create Table",
									"description": "Dimension or Fact tables",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Validate Payload",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@activity('Get Notebook Payload').output.firstRow.ExecutionNotebookPath",
											"type": "Expression"
										},
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": "@activity('Get Databricks Compute Id').output.pipelineReturnValue.ClusterId",
											"SubscriptionId": {
												"value": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Transform Data",
									"description": "",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Create Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Shared/Live/transform/TransformExecution",
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": "@activity('Get Databricks Compute Id').output.pipelineReturnValue.ClusterId",
											"SubscriptionId": {
												"value": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Validate Payload",
									"description": "",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Get Databricks Compute Id",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Shared/Live/transform/CheckPayloadExecution",
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": "@activity('Get Databricks Compute Id').output.pipelineReturnValue.ClusterId",
											"SubscriptionId": {
												"value": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Get Databricks Compute Id",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Databricks_Compute_ID",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Databricks_JobCluster_MIAuth",
							"activities": [
								{
									"name": "Create Table - Job Cluster",
									"description": "Dimension or Facts",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Validate Payload - Job Cluster",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@activity('Get Notebook Payload').output.firstRow.ExecutionNotebookPath",
											"type": "Expression"
										},
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
											"ClusterVersion": "@activity('Get Notebook Payload').output.firstRow.ComputeVersion",
											"NodeType": "@activity('Get Notebook Payload').output.firstRow.ComputeSize",
											"PythonVersion": "3",
											"NumWorkers": "@activity('Get Notebook Payload').output.firstRow.CountNodes",
											"SubscriptionId": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
											"ResourceName": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
											"ResourceGroupName": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName"
										}
									}
								},
								{
									"name": "Transform Data - Job Cluster",
									"description": "Dimension or Facts",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Create Table - Job Cluster",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Shared/Live/transform/TransformExecution",
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
											"ClusterVersion": "@activity('Get Notebook Payload').output.firstRow.ComputeVersion",
											"NodeType": "@activity('Get Notebook Payload').output.firstRow.ComputeSize",
											"PythonVersion": "3",
											"NumWorkers": "@activity('Get Notebook Payload').output.firstRow.CountNodes",
											"SubscriptionId": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
											"ResourceName": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
											"ResourceGroupName": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName"
										}
									}
								},
								{
									"name": "Validate Payload - Job Cluster",
									"description": "",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "/Workspace/Shared/Live/transform/CheckPayloadExecution",
											"type": "Expression"
										},
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Common_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": "@activity('Get Notebook Payload').output.firstRow.ComputeWorkspaceURL",
											"ClusterVersion": "@activity('Get Notebook Payload').output.firstRow.ComputeVersion",
											"NodeType": "@activity('Get Notebook Payload').output.firstRow.ComputeSize",
											"PythonVersion": "3",
											"NumWorkers": "@activity('Get Notebook Payload').output.firstRow.CountNodes",
											"SubscriptionId": "@activity('Get Notebook Payload').output.firstRow.SubscriptionId",
											"ResourceName": "@activity('Get Notebook Payload').output.firstRow.ComputeResourceName",
											"ResourceGroupName": "@activity('Get Notebook Payload').output.firstRow.ResourceGroupName"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Supported Linked Service Type",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('The Linked Service type and authentication combination is not currently supported.')",
									"type": "Expression"
								},
								"errorCode": "16"
							}
						}
					]
				}
			},
			{
				"name": "Set Pipeline Run DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunDateTime",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Metadata Load Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Switch Compute",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[transform].[SetTransformLoadStatus]",
					"storedProcedureParameters": {
						"DatasetId": {
							"value": {
								"value": "@pipeline().parameters.DatasetId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"FileLoadDateTime": {
							"value": {
								"value": "@variables('PipelineRunDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Common_LS_cumulusdatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DatasetId": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineRunDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Transform"
		},
		"annotations": []
	}
}