src/azure.datafactory/pipeline/Transform_PL_Unmanaged.json
{
	"name": "Transform_PL_Unmanaged",
	"properties": {
		"activities": [
			{
				"name": "Get Unmanaged Notebook Payload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[transform].[GetUnmanagedNotebookPayload]",
						"storedProcedureParameters": {
							"DatasetId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DatasetId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch Compute",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get Unmanaged Notebook Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Run DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@replace(activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeLinkedServiceName,'Transform_LS_','')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Databricks_Cluster_MIAuth",
							"activities": [
								{
									"name": "Unmanaged Notebook - Interactive Cluster",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set Cluster Id Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.NotebookFullPath",
											"type": "Expression"
										},
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Unmanaged Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_Cluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeWorkspaceUrl",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ClusterId": {
												"value": "@variables('ClusterId')",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Fetch Bearer Token from AKV",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:15:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"url": {
											"value": "@concat(activity('Get Merge Payload').output.firstRow.KeyVaultAddress,'/secrets/databricks-adf-pat/','?api-version=7.0')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://vault.azure.net"
										}
									}
								},
								{
									"name": "Get Cluster Metadata",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Fetch Bearer Token from AKV",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:15:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',activity('Fetch Bearer Token from AKV').output.value)",
												"type": "Expression"
											}
										},
										"url": {
											"value": "@concat(activity('Get Merge Payload').output.firstRow.ComputeWorkspaceURL,'/api/2.1/clusters/list')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Filter Cluster",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "Get Cluster Metadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Get Cluster Metadata').output.clusters",
											"type": "Expression"
										},
										"condition": {
											"value": "@equals(item().cluster_name,activity('Get Merge Payload').output.firstRow.ComputeName)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Cluster Id Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Filter Cluster",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClusterId",
										"value": {
											"value": "@activity('Filter Cluster').output.value[0].cluster_id",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Databricks_JobCluster_MIAuth",
							"activities": [
								{
									"name": "Unmanaged Notebook - Job Cluster",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.NotebookFullPath",
											"type": "Expression"
										},
										"baseParameters": {
											"Notebook Payload": {
												"value": "@string(activity('Get Unmanaged Notebook Payload').output.firstRow)",
												"type": "Expression"
											},
											"Pipeline Run Id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"Pipeline Run DateTime": {
												"value": "@variables('PipelineRunDateTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Ingest_LS_Databricks_JobCluster_MIAuth",
										"type": "LinkedServiceReference",
										"parameters": {
											"WorkspaceURL": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeWorkspaceURL",
												"type": "Expression"
											},
											"ClusterVersion": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeVersion",
												"type": "Expression"
											},
											"NodeType": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeSize",
												"type": "Expression"
											},
											"PythonVersion": "3",
											"NumWorkers": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.CountNodes",
												"type": "Expression"
											},
											"SubscriptionId": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.SubscriptionId",
												"type": "Expression"
											},
											"ResourceName": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ComputeResourceName",
												"type": "Expression"
											},
											"ResourceGroupName": {
												"value": "@activity('Get Unmanaged Notebook Payload').output.firstRow.ResourceGroupName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Supported Linked Service Type",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('The Linked Service type and authentication combination is not currently supported.')",
									"type": "Expression"
								},
								"errorCode": "16"
							}
						}
					]
				}
			},
			{
				"name": "Set Pipeline Run DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunDateTime",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DatasetId": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineRunDateTime": {
				"type": "String"
			},
			"ClusterId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cumulus.Transform"
		},
		"annotations": []
	}
}